.hero{
    width: 100%;
    &__items{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__link-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        
        h1{
            text-align: center;
            color: #222222;
            font-size: 18px;
            font-weight: 600;
        }
        p{
            display: none;
        }
    }
    &__lists{
        display: flex;
        gap: 20px;
        align-items: center;
        
        a{
            display: flex;
            align-items: center;
            gap: 5px;
            color: #848484;
            &:hover{
                color: orange;
            }
        }

    }

    &__cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    &__card{
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        border: none;
        padding: 10px;
        background-color: whitesmoke;
    }

    .icon{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        color: orange;
        font-size: 18px;
    }
    &__sp-flex{
        font-size: 26px;
        font-weight: 700;
    }
    &__sp{
        font-size: 20px;
        font-weight: 400;
        color: #4F5665;
    }
}

@media (min-width: 768px) {
    .hero{
        
        &__link-title{
            h1{
                font-size: 26px;
            }
            p{
                display: block;
                font-size: 16px;
                color: #898989;
            }
        }

        
        &__cards{
            height: 200px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            background-color: whitesmoke;
        }
        .icon{
            background-color: white;
            font-size: 24px;
        }
        &__card{
            width: 100%;
            height: 100px;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }
        .br{
            border-left: 1px solid;
            border-right: 1px solid;
        }
        
        &__sp-flex{
            font-size: 30px;
            text-align: start;
            
        }
        &__sp{
            font-size: 18px;
        }

    }
}